@import "../../styles/contants.scss";

.container {
  justify-content: space-evenly;
  display: flex;
  row-gap: 2rem;
  .wrap {
    @media (max-width: $sm) {
      justify-content: center;
      text-align: center;
      gap: 2rem;
      
    }
    // background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .span img {
      width: 1%;
      height: 2rem;
      
    }
  }
//                          


}
